extends layout

block content
  link(rel='stylesheet', href='/stylesheets/theme.css') 
  script(src="javascripts/bootstrap.min.js")



  div(class="container")
    div(class="bs-example")
        div(class="panel panel-default")
            div(class="panel-heading") 
                h3  Billing statement for #{moment().format('MMMM YYYY')}
            div(class="panel-body")
              p
                h5  This page shows the estimated billing charges for the current month.
            table(id="fileTable", class="table table-hover")
              thead
                tr
                  th Rate
                  th Usage
                  th Total($)
              tbody
                  tr
                    td $0.095 per GB-Month of storage used
                    td #{storage} GB-month
                    td #{storageCost}
                  tr
                    td $0.045 per 1,000 PUT, GET or LIST requests
                    td #{accessCount}
                    td #{accessCost}
                  tr
                    td $0.000 per GB of data transfer in
                    td #{dataTransferIn} GB
                    td #{dataInCost}
                  tr
                    td $0.120 per GB of data transfer out
                    td #{dataTransferOut} GB
                    td #{dataOutCost}
                   tr
                    td
                    td
                    td 
                     b #{totalCost}